.grid {
  display: grid;
  gap: 2rem;
}

.grid-side-by-side {
  grid-template-columns: 1fr;
  @include breakpoint-up(medium) {
    grid-template-columns: 1fr 1fr;
  }
}

.grid-2up {
  grid-template-columns: 1fr;
  gap: 2rem;
  @include breakpoint-up(medium) {
    gap: 5rem;
    grid-template-columns: 1fr 1fr;
  }
}

.grid-3up {
  @include breakpoint-up(medium) {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint-up(large) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid-4up {
  @include breakpoint-up(medium) {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint-up(large) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.grid-5up {
  @include breakpoint-down(small) {
    grid-template-columns: 1fr 1fr;
  }

  @include breakpoint-up(medium) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include breakpoint-up(large) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.grid-hero {
  grid-template-columns: 1fr;
  gap: 2rem;
  @include breakpoint-up(large) {
    gap: 5rem;
    grid-template-columns: 6fr 4fr;
  }
}
