.color-1-block {
  background-color: $Mint;
  color: $light-color;
  padding: 5rem 2rem;

  a {
    color: $primary-color;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
