.footer {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
@include breakpoint-up(medium) {
  .social-row {
    display: flex;
    flex-direction: row;
  }
}
@include breakpoint-down(small) {
  .social {
    flex-direction: column;
    gap: 2rem !important;
  }

  .social-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
  }
}
