.modal {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1500;
}

.modal-background {
  background-color: rgb(33 33 33 / 70%);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.modalContainer {
  background: $light-color;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  width: 40%;

  h1 {
    max-width: 100ch;
    font-size: 2rem;
  }

  @include breakpoint-down(large) {
    width: 50%;
  }
  @include breakpoint-down(medium) {
    width: 60%;
    h1 {
      font-size: 1.5rem;
    }
  }
  @include breakpoint-down(small) {
    width: 80%;
    h1 {
      font-size: 1.1rem;
    }
    button {
      font-size: 1rem;
    }
  }
}

.modal-content {
  padding: 4rem 2rem 2rem;
  text-align: center;
}

.x-modal-close {
  color: $text-color;
  position: fixed;
  right: 11px;
  top: -4px;
  font-size: 48px;
  cursor: pointer;
  &:hover {
    color: $Fire;
  }
}
